<h1>Alpha Bloggers</h1>
<% @users.each do |user| %>
    <div>
        <p><%= user.username %></p>
        <%= image_tag user.avatar , style: "min-width: 500px; max-height: 500px;" if user.avatar.attached? %>
        <%= link_to 'View Profile',user_path(user) %>
        <%= link_to 'Edit Profile',edit_user_path(user) %>
    </div>
<% end %>