<h1><%= @user.username %>'s Profile</h1>
<%= image_tag @user.avatar, style: "min-width: 500px; max-height: 500px; align-item:center;justify-content:center;" if @user.avatar.attached? %>
<% @user.articles.each do |a| %>
    <div>
        <h2><%= a.title %></h2>
        <p><%= a.description %></p>
    </div>
<% end %>
