<div class="b">
        <center><h1>🧩Areas of Interest🧩</h1></center><br>
        <ul type="disc" class="a">
            <li class="a">Machine Learning</li>
            <li class="a">Data Analytics</li>
            <li class="a">Computer Networks</li>
            <li class="a">Natural Language Processing</li>
            <li class="a">Deep Learning</li>
        </ul>
    </div>