<div class="full">
    <div class="right">
      <h1 style="font-family :Georgia, 'Times New Roman', Times, serif ; font-size: 60px;"><i class="glyphicon glyphicon-tower"></i> Thunive Thunai <i class="glyphicon glyphicon-screenshot"></i></h1>
      <div class="center">
        <h1>Hello, I'm INISH <i class="glyphicon glyphicon-heart"></i></h1>
        <p>I'm Currently Pursuing My B.tech Degree On Artifical Intelience And Data Science</p>
      </div>
    </div>
</div>
